.pageContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #000000;
}

.container {
  max-width: 800px;
  margin: 120px auto 0; /* Increased top margin */
  padding: 20px;
  background-color: #000000;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  color: white;
  flex-grow: 1;
}

.container h1 {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.inputGroup {
  margin-bottom: 15px;
}

.container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: white;
}

.container input,
.container select {
  width: 100%;
  padding: 8px;
  border: 1px solid #444;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #222;
  color: white;
}

.container button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #28a745;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  transition: background-color 0.3s ease;
}

.container button:hover {
  background-color: #218838;
}

#results {
  margin-top: 20px;
  background-color: #111;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
  color: white;
}

#results h2 {
  color: white;
  margin-bottom: 15px;
}

#results p {
  margin-bottom: 10px;
}

#results hr {
  border: none;
  border-top: 1px solid #444;
  margin: 15px 0;
}

.suggestionBox {
  background-color: #0000ff;
  color: white;
  padding: 10px;
  border-radius: 4px;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}

.pitch {
  margin-top: 40px;
  padding: 20px;
  background-color: #111;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
  font-size: 0.9rem; /* Added smaller font size */
}

.pitch h2 {
  color: #ff8000;
  margin-bottom: 15px;
  font-size: 1.25rem; /* Reduced heading size */
}

.pitch h3 {
  color: #ff8000;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.1rem; /* Reduced heading size */
}

.pitch p {
  margin-bottom: 15px;
  line-height: 1.6;
}

@media (min-width: 768px) {
  .inputGroup {
    display: flex;
    align-items: center;
  }

  .inputGroup label {
    width: 30%;
    margin-bottom: 0;
    margin-right: 10px;
  }

  .inputGroup input,
  .inputGroup select {
    width: 70%;
  }
}

